body,
button {
  font-family: Verdana, Geneva, sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
  background-color: lightgray;
}

#root {
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.calculator {
  width: 300px;
  background-color: black;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 2px 16px 2px #808080;
}

.calculator .display {
  height: 60px;
  display: grid;
  align-items: center;
  justify-items: right;
  padding: 8px 4px;
  background-color: #303030;
  box-shadow: inset 0 0 4px black;
  color: #f0f0f0;
  font-size: 2.75em;
}

.calculator .keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1px;
}

.calculator .keypad .button {
  height: 60px;
  color: #f0f0f0;
  font-size: 1.5em;
}

.calculator .keypad .button.wide {
  grid-column-start: 1;
  grid-column-end: 3;
}

.calculator .keypad .button.gray {
  background-color: #686868;
}

.calculator .keypad .button.dark-gray {
  background-color: #484848;
  font-size: 1.25em;
}

.calculator .keypad .button.orange {
  background-color: orange;
}
